*{
  margin: 0;
}
.drop-down{
  margin-left: 20px;
 
}
h6{
  margin: 0;
}
.button {
  width: 80px;
  border-radius: 3px;
  box-shadow: 0 0 2px gray;
  display: flex;
  align-items: center;
 padding: 5px;
 padding-left: 7px;
 padding-right: 7px;
 z-index:2;
}


.button > h6 {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;
  font-weight: 500;
  margin-top: -3px;
}

.button:hover{
  cursor: pointer;
}


.upper_div{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
}

.App{
  height:  100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

