@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.content-status{
    margin: 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    gap: 10px;
  }
  .content-header-status {
    display: flex;
    padding: 5px;
    align-items: center;
  }
  .divider-icon {
    margin-left: auto;
    margin-right: 5px;
  }
  .content-header-status > h6{
    font-weight: 500;
    margin-top: -3px;
    margin-left: 6px;
  }
  .content-box-status{
    
    height: 100px;
  }


  /**/
  .card {
    min-height: 90px;
    max-height: fit-content;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-data{
  }
  .card-data > h6 {
    font-weight: 500;
    color: gray;
  }

  .content-header-status> h5 {
    font-weight: 500;
    color: gray;
    font-size: 10px;
    margin-left: 10px;
  }
  
  .card-data > h5 {
    font-family: 'Nunito', sans-serif;
    line-height: 14px;
    margin-top: 7px;
    margin-right: 6px;
  }

  .gray-background {
    background-color: gray;
    
    font-size: 6px;
    border-radius: 3px;
    height: 10px !important;
    padding-top: 2px;
    width: 12px !important;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }

  .card-bottom-div{
    margin-top:10px;
    display: flex;
    align-items: center;
  }

  .gray-dot{
    background-color: rgb(180, 180, 180);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
  }

  .card-bottom-text{
   padding: 5px 8px;
    height: 12px;
    width: fit-content;
    border-radius: 2px;
    margin-left: 8px;
    box-shadow: 0 0 2px rgb(203, 203, 203);
    display: flex;
    font-size: 10px;
    align-items: center;
    color: rgb(180, 180, 180);
  }

  .gray-dot-bottom{
    background-color: rgb(180, 180, 180);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    
  }